body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(146, 148, 212);
    font-family:'Courier New', Courier, monospace;
}
header{
    background-color: rgb(218, 170, 225);
    margin-top: 10px;
    align-items: center;
        font-size: large;
}

section{
    float: left;
}
/* input for city search */
.searchCard {
    background: rgb(190, 146, 178);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;

}
.information {
padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-size: large;
}
input.search-bar {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
        font-size: large;
}
col {
    padding: 10px;
        border-radius: 10px;
        margin: 10px;
        font-family: inherit;
        font-size: large;

}

.today {
    background-color: rgb(145, 56, 138);
    color: rgb(237, 226, 236);
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fiveDay {
    background-color: rgb(198, 98, 170);
    color: rgb(139, 21, 131);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}