body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(235, 192, 220);
    font-family:'Courier New', Courier, monospace;
}

header{
    background-color: rgb(235, 235, 243);
    margin-top: 10px;
    align-items: center;
        font-size: large;
}

/* input for city search */
.searchCard {
    background: rgb(198, 98, 170);
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    margin: 20px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;

}
.information {
padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-size: large;
}
input.search-bar {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
        font-size: large;
}
col {
    padding: 10px;
        border-radius: 10px;
        margin: 10px;
        font-family: inherit;
        font-size: large;

}

.today {
    color: rgb(139, 21, 131);
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align: center;
}
.fiveDay {
    color: rgb(139, 21, 131);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
