* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0;
    /* background: rgb(146, 148, 212); */
    font-family:'Courier New', Courier, monospace;
    background-image: url('./Assets/weather.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
}
/* input for city search */
.searchCard {
    background: rgb(190, 146, 178);
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-radius: 20px;
    width: 100%;
    max-width: 800px;
    margin: 10px;
    float: left;
}

.information {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-size: 15px;
    flex-wrap: wrap;
}

input.search-bar {
    padding: 1px;
    border-radius: 1px;
    margin: 10px;
    font-family: inherit;
    flex-wrap: content;
}

button {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: inherit;
    font-size: large;
    flex: content;
}
.row {
    font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        border-radius: 20px;
        width: auto;
        max-width: 350px;
        margin: 10px;
}

.today {
    display: flex;
    color: rgb(237, 226, 236);
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    flex-wrap: wrap;
    padding: 10px;
    float: left;
    width: auto;
}

.fiveDay {
    display: flex;
    color: rgb(76, 10, 76);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    padding: 10px;
    width: auto;
}